body {

    .App {

        .profile-container {

            .row {
                display: flex;
    
                .profile-image-container {
                    padding-right: 1.5em;
    
                    img {
                        min-height: 115px;
                        min-width: 115px;
                        height: 115px;
                        width:115px;
                        border-radius: 50%;
                    }
                }
    
                .profile-details-container {
                    width: 60vw;
                }
            }
        }
        
        .education-container {
        
        }
        
        .skills-container {
        
        }
        
        .other-container {

            .pair {
                display: flex;

                .other-title {
                    min-width: 8em;
                }

                .other-description {
                    flex-grow: 1;
                    margin: 0;
                }
            }
        }

        .footer-container {
            border: 0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: #f1f1f1;
            }

            img {
                padding: 1em;
                height: 3em;
            }
        }
    }
}
