@import "../App.less";

body {
  .App {
    .profile-container {
      .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .profile-image-container {
          padding-right: 1.5em;

          img {
            min-height: 115px;
            min-width: 115px;
            height: 115px;
            width: 115px;
            border-radius: 50%;
          }
        }

        .profile-details-container {
          flex-grow: 2;
        }

        @media screen and (max-width: 1078px) {
          .profile-details-container {
            order: 2;
          }
        }

        .socialmedia-container {
          border: 0;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-self: flex-end;
    
          img {
            padding: 1em;
            height: 3em;
            width: 3em;
          }

          img:hover {
            background-color: @white0;
          }
        }
        
      }
    }

    .skill-list {
      margin: 0.4em 0 0.4em 0;
      display: flex;
      flex-wrap: wrap;

      .skill {
        margin: 0.1em;
        padding: 0 0.1em 0 0.1em;
        color: white;
        font-size: 0.9em;
        background-color: @grey1;
        border: 3px solid @grey1;
        border-radius: 5px;
      }
    }

    // .education-container {
    // }

    // .experience-container {
    // }

    // .skills-container {
    // }

    .hobbies-container {
      .flex {
        .hobbies-title {
          min-width: 8em;
        }

        .hobbies-description {
          flex-grow: 1;
          margin: 0;
        }
      }
    }
  }
}
