.profile-container {
    display: flex;
    justify-content: center;
}

.education-container {

}

.skills-container {

}

.other-container {
    .pair {
        .other-title {
            min-width: 8em;
        }
        .other-description {
            flex-grow: 1;
        }
    }
}